$primary-color: #6f0010;
$secondary-color: #fcf9ef;

$black: #000000;
$white: #ffffff;
$grey: #949494;
$dark-grey: #525252;

$error: #dc3545;

$menu-bg: #ffffff;

$titles-primary: $primary-color;

// Breakpoints

// Desktop
$desktopXl: 1920px;
$desktopLg: 1400px;
$desktopMd: 1200px;

// Tablet
$tablet: 992px;

// Mobile
$mobile: 768px;
$mobileSm: 375px;
